@import url("src/styles/visually-hidden.css");
@import url("src/styles/hidden-scroll.css");
@import url("src/styles/wrap.css");
@import url("src/styles/modal.css");
@import url("src/styles/buttons.css");
@import url("src/styles/content.css");
@import url("src/styles/container.css");
@import url("src/styles/form.css");

html,
body,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
