.content {
  width: 100%;
  line-height: 160%;

  & .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ebf0fa;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  }
}

.content__message {
  display: flex;
  gap: 36px;
  flex-direction: column;
  justify-content: center;
  padding: 72px;

  @media screen and (min-width: 768px) and (max-width: 1440px) {
    padding: clamp(24px, 3.5vw, 72px);
  }

  @media screen and (max-width: 768px) {
    padding: 24px;
    gap: clamp(18px, 1.5vw, 24px);
  }
}

.content__title {
  color: #1f4284;
  font-size: 30px;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}
.content__text {
  max-width: 600px;
  color: #727272;
  font-size: 17px;

  @media screen and (max-width: 768px) {
    font-size: 15px;
    width: 100%;
  }
}
.content__preview {
  display: flex;
  justify-content: center;

  & img {
    max-width: 100%;
    object-fit: cover;
  }
}
